[submodule "modules/dotbot"]
	path = modules/dotbot
	url = https://github.com/anishathalye/dotbot.git
	branch = master
[submodule "modules/dotlyx"]
	path = modules/dotlyx
	url = /Users/josegilbertoolivasibarra/Documents/personal/workspace/dotlyx
